.button {
    border: none;
    background-color: transparent;
    cursor: pointer;
    user-select: none;
    font-size: $button-fs;
    padding: $button-padding;
    border-radius: $button-border-radius;
    min-width: $button-width;
    transition: all $animation-time;

    &_inline {
        border: $button-border-inline;
        color: $site-main-color;

        @include hovered {
            border: $button-border-default;
            box-shadow: 0 0 4px rgba($site-main-color, 0.8);
        }
    }

    &_dark {
        border: $button-border-default;
        background-color: $site-main-color;
        color: $white-color;

        @include hovered {
            background-color: rgba($site-main-color, 0.8);
        }
    }

    &_ico {
        min-width: max-content;

        @include hovered {
            transform: scale(0.8);
        }
    }
}