.button {
    border: none;
    background-color: transparent;
    cursor: pointer;
    user-select: none;
    font-size: $button-fs;
    padding: $button-padding;
    border-radius: $button-border-radius;
    min-width: $button-width;
    transition: border $animation-time, color $animation-time, background-color $animation-time, box-shadow $animation-time, outline $animation-time, transform $animation-time;

    &_inline {
        border: $button-border-inline;
        color: $site-main-color;
    }

    &_dark {
        border: $button-border-default;
        background-color: $site-main-color;
        color: $white-color;

        @include isHover {
            background-color: rgba($site-main-color, 0.8);
        }
    }

    &_ico {
        min-width: max-content;

        @include isHover {
            transform: scale(0.8);
        }
    }

    @include isFocus;
    @include isHover {
        border: $button-border-default;
        box-shadow: 0 0 4px rgba($site-main-color, 0.8);
    }
    @include isActive;
}