$white-color: #ffffff;

$site-main-color: #000000;
$site-secondary-color: #0D0D0D;
$site-bg-color: #{$white-color};

$section-padding-desc: 4.6875rem 0;
$section-padding-mob: 2.5rem 0;


$site-ff: 'Roboto', sans-serif;
$site-fs: 100%; /* 16px */
$site-fw: 500;
$site-lh: 1.2;
