@import url('https://fonts.googleapis.com/css2?family=Bitter:ital,wght@0,100..900;1,100..900&family=Roboto:wght@300;400;700&display=swap');

@font-face {
    font-family: "Roboto";
    src: local("Roboto"),
      local("Roboto-Regular"),
      url("/fonts/Roboto/Roboto-Regular.woff2") format("woff2"),
      url("/fonts/Roboto/Roboto-Regular.woff") format("woff"),
      url("/fonts/Roboto/Roboto-Regular.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: "Roboto";
    src: local("Roboto"),
      local("Roboto-Medium"),
      url("/fonts/Roboto/Roboto-Medium.woff2") format("woff2"),
      url("/fonts/Roboto/Roboto-Medium.woff") format("woff"),
      url("/fonts/Roboto/Roboto-Medium.ttf") format("truetype");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: "Roboto";
    src: local("Roboto"),
      local("Roboto-Bold"),
      url("/fonts/Roboto/Roboto-Bold.woff2") format("woff2"),
      url("/fonts/Roboto/Roboto-Bold.woff") format("woff"),
      url("/fonts/Roboto/Roboto-Bold.ttf") format("truetype");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
  }

/* * {
    outline: 1px solid red;
} */

html {
    scroll-behavior: smooth;
}

.page {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 100%; /* 16px */
    line-height: 1.2;
    font-weight: 500;
    color: #000;
    box-sizing: border-box;
}

.regular {
    font-weight: 400;
}

.bold {
    font-weight: 700;
}

.link {
    text-decoration: none;
    color: inherit;
}

.list {
    margin: 0;
    padding: 0;
    list-style: none;
}

.title {
    margin: 0;
    padding: 0;
}

.blockquote {
    margin: 0;
    font-family: 'Bitter', sans-serif;
}
.phrase {
    margin: 0;
}

.section {
    padding: 4.6875rem 0;
}

.section-title {
    font-size: 1.5rem; /* 24px */
}

.title-lg {
    font-weight: 500;
    font-family: 'Playfair Display', sans-serif;
    font-size: 5.375rem;; /* 86px */
}

.logo {
    font-family: 'Playfair Display', sans-serif;
    font-weight: 600;
    font-size: 5.375rem; /* 86px */
}

/* Header START */
.header {
    height: 135px;
    padding: 0 1.5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav {
    font-family: inherit;
    font-size: 1.5rem; /* 24px */
}

.nav-list {
    display: flex;
    align-items: center;
    gap: 55px;
}

.active {
    text-decoration: underline; 
}

/* Header END */

/* Banner START */
.banner {
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: gray;
    height: 630px;
    background-image: url('/img/banner.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.banner-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: white;
    max-width: 690px;
    width: 100%;
    min-height: 360px;
    padding: 4.0625rem;
    box-sizing: border-box;
}

.main-title {
    font-size: 5.375rem; /* 86px */
}

.banner-text {
    margin: 0;
    margin-top: 15px;
    font-size: 1.25rem; /* 20px */
}
/* Banner END */



.position {
    font-size: 1.125em; /* 18px */
    color: #0D0D0D;
}

/* Biograpgy START */
.biography {
    padding-top: 9.375rem;
    max-width: 1170px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.biography .section-title {
    writing-mode: vertical-lr;
    text-orientation: mixed;
    text-align: right;
    transform: scale(-1);
    padding-left: 48px;
}

.biography-head {
    display: flex;
    width: 49%;
    height: auto;
}

.biography-title {
    max-width: 430px;
}

.biography-photo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.biography-body {
    margin: auto 0;
    width: 39%;
    display: flex;
    flex-direction: column;
    gap: 3.3rem;
}

.biography-position-head {
    font-size: 1.125rem;
}

.biography-position-skills {
    display: flex;
    gap: 9px;
    flex-wrap: wrap;
    font-size: 1.125rem;
}

.biography-position-skill:not(:last-child)::after {
    content: ' /';
}

.biography-blockquote {
    position: relative;
    text-wrap: balance;
    font-size: 1.625rem; /* 26px */
}

.biography-blockquote::before {
    content: '';
    position: absolute;
    top: -20px;
    width: 20px;
    height: 6px;
    background-color: #0D0D0D;
}
/* Biography END */

/* Designers START */

    .designers {
        display: flex;
        flex-direction: column;
        gap: 30px;
    }

    .designers .section-title {
        padding-left: 8.5rem;
    }

    .designers-list {
        padding-left: 1.25rem;
        display: flex;
        align-items: flex-end;
        overflow-x: auto;
        gap: 20px;
    }

    .designers-item {
        min-width: 335px;
    }

    .designers-item:first-child {
        min-width: 572px;
    }

    .designers-item .img {
        max-height: 440px;
        height: 100%;
        width: 100%;
        object-fit: cover;
    }

    .designers-item:first-child .img{
        max-height: 540px;
    }

    .designers-item:first-child .person-info {
        margin-left: auto;
        margin-right: 85px;
    }

    .person {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    .person-info {
        margin: 0;
    }

    .person-name {
        text-transform: uppercase;
    }

    .person-text,
    .person-skills {
        margin: 0;
    } 
/* Desigers End */

/* Testimonials START */
.testimonials {
    max-width: 1400px;
    width: 100%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 20px;
}

.testimonials .section-title {
    writing-mode: vertical-lr;
    text-orientation: mixed;
    text-align: right;
    transform: scale(-1);
    grid-column: span 2;
    justify-self: self-start;
}

.testimonials-contacts {
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;
    align-items: flex-end;
    grid-column: 2 / 3;
    justify-items: end;
    padding-bottom: 35px;
    padding-top: 50px;
    padding-right: 15px;
}

.testimonials-contact {
    writing-mode: vertical-lr;
    text-orientation: mixed;
    transform: scale(-1);
    display: flex;
    flex-direction: column-reverse;
}

.testimonials-photo {
    max-width: 450px;
    grid-column: span 4;
}

.testimonials-photo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.testimonials-body {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-self: center;
    align-self: center;
    gap: 35px;
    grid-column: span 2;
}

.testimonials-blockquote {
    font-size: 2rem; /* 32px */
}

.testimonials-photo-small img {
    width: 100%;
    object-fit: cover;
}
/* Testimonials END */

/* Strong points START */


/* flex */
    .strong-points {
        display: flex;
        flex-direction: column;
        gap: 30px;
        padding-bottom: 9.375rem;
    }

    .strong-points .section-title {
        padding-left: 16rem;
    }

    .strong-points-list {
        display: flex;
        align-items: flex-start;
        padding-left: 1rem;
        overflow: auto;
        gap: 20px;
    }

    .strong-points-item {
        min-width: 335px;
        max-width: 24%;
        width: 100%;
    }

    .strong-points-item-lg {
        min-width: 450px;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 5px;
    }

    .strong-points-item .img {
        width: 100%;
        height: 555px;
        object-fit: cover;
    }

    .strengths {
        display: flex;
        flex-direction: column;
        gap: 2px;
        font-family: 'Bitter', sans-serif;
        font-size: 2.125rem;
    }
/* flex end */

/* grid */
@supports (display: grid){
    .strong-points {
        display: grid;
        grid-template-rows: max-content max-content;
    }
    
    .strong-points-list {
        display: grid;
        grid-template-columns: minmax(335px, 24%) minmax(335px, 24%) 450px minmax(335px, 24%);
        grid-auto-columns: minmax(335px, 24%);
        grid-auto-flow: column;
    }
    
    .strong-points-item-lg {
        display: grid;
        justify-content: center;
    }
    
    .strengths {
        display: grid;
        justify-content: center;
        grid-auto-rows: 42px;
        gap: 0;
    }
}
/* grid end */




/* Strong points END */

/* В футере ещё белый текст, не стал указывать, так как его не будет видно в данный момент. */
.footer {
    padding: 0 1rem;
    height: 168px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #fff;
    background-color: #0D0D0D;
}

.footer-contacts {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.footer-link {
    text-decoration: underline;
}

.footer-link:last-child {
    text-transform: uppercase;
}

.footer-text {
    font-size: 1.125rem;
}

.footer-logo {
    font-weight: 900;
    font-size: 1.5rem;
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
    /* Header Start */
    .header {
        height: 100px;
    }

    .logo {
        font-size: 4rem;
    }

    .nav {
        font-size: 1rem;
    }
    /* Header End */

    /* Banner Start */
    .banner-content {
        width: auto;
    }
    /* Banner End */

    /* Biography start */
    .biography {
        justify-content: center;
    }

    .biography .section-title {
        padding-left: 2rem;
        padding-right: 0.5rem;
    }

    .biography-body {
        width: 35%;
    }
    /* Biography End */
}

@media screen and (max-width: 1024px) {
    /* Testimonials Start */
    .testimonials {
        gap: 30px;
    }

    .testimonials .section-title {
        grid-column: 2/12;
        justify-self: self-end;
        writing-mode: unset;
        transform: unset;
        order: 1;
    }

    .testimonials-contacts {
        padding: 0;
        grid-column: 2/12;
        flex-direction: unset;
        justify-content: space-between;
        order: 3;
    }

    .testimonials-photo {
        display: none;
    }

    .testimonials-photo-small .img {
        max-height: 532px;
    }

    .testimonials-contact {
        writing-mode: unset;
        transform: unset;
        flex-direction: column;
    }

    .testimonials-body {
        grid-column: 2/12;
        justify-self: center;
        order: 2;
    }
    /* Testimonials End */
}

@media screen and (max-width: 767px) {
    /* Other START*/
    .section {
        padding: 2.5rem 0;
    }

    .title-lg {
        font-weight: 400;
        font-size: 4.375rem;
    }
    /* Other END */

    /* Header START */
    .header {
        position: fixed;
        bottom: 0;
        left: 0;
        right: 0;
        height: 80px;
        background-color: #fff;
        border-top: 1px solid #000;
        border-bottom: 1px solid #000;
        z-index: 1;
    }

    .header .logo {
       display: none;
    }

    .nav {
        width: 100%;
    }

    .nav-list {
        justify-content: space-evenly;
    }

    .nav-list-link {
        font-size: 0;
    }

    .nav-list-link::after {
        font-family: "Bitter", sans-serif;
        font-size: 30px;
    }

    .nav-list-link[href="#biography"]::after {
        content: 'B';
    }


    .nav-list-link[href="#designers"]::after {
        content: 'D';
    }

    .nav-list-link[href="#testimonials"]::after {
        content: 'T';
    }

    .nav-list-link[href="#strong-points"]::after {
        content: 'S';
    }

    /* Header END */

    /* Banner START */
    .banner {
        padding: 0;
        align-items: flex-start;
        height: calc(100dvh - 82px);
        background-image: url('/img/banner-mob.png');
    }

    .banner-content {
        max-width: unset;
        min-height: 50%;
        padding: 0.5rem;
    }

    .banner-text {
        font-size: 1.125rem;
    }
    /* Banner END */

    /* Biography START */
    .biography {
        padding-top: 5rem;
        position: relative;
        justify-content: unset;
        flex-direction: column-reverse;
    }

    .biography-head {
        width: 100%;
    }

    .biography-body {
        padding: 0 15px;
        width: auto;
        max-width: 100%;
        gap: 3.125rem;
        margin-bottom: 2.1875rem;
    }

    .biography .section-title {
        position: absolute;
        top: calc(5rem - 30px);
        right: 15px;
        padding: 0;
        writing-mode: unset;
        transform: unset;
    }

    .biography-title {
        position: relative;
        font-size: 4rem;
        max-width: unset;
        order: 3;
        padding-left: 2.1875rem;
    }

    .biography-title::before {
        content: '-';
        position: absolute;
        left: 0;
    }

    .biography-position-head {
        order: 1;
    }

    .biography-photo {
        width: 100%;
    }

    .biography-blockquote {
        order: 2;
        font-weight: 300;
        font-size: 1.875rem;
    }

    .biography-blockquote::before {
        display: none;
    }

    .biography-position-skills {
        position: relative;
        padding-left: 10px;
        flex-direction: column;
    }

    .biography-position-skill:not(:last-child)::after {
        display: none;
    }

    .biography-position-skill::before {
        content: '-';
        position: absolute;
        left: 0;
    }
    /* Biography END */

    /* Designers START */
    .designers-item {
        min-width: 310px;
    }

    .designers-item:first-child {
        min-width: 310px;
    }

    .designers-item .img {
        min-height: 440px;
    }

    .designers-item:first-child .person-info {
        margin-left: unset;
        margin-right: unset;
    }
    /* Designers END */


}