.hero {
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: gray;
    height: 630px;
    background-image: url('../img/banner/banner.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    &__content {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        background-color: $site-bg-color;
        max-width: 690px;
        width: 100%;
        min-height: 360px;
        padding: 4.0625rem;
        box-sizing: border-box;
    }

    &__text {
        margin: 0;
        margin-top: 15px;
        font-size: 1.25rem; /* 20px */
    }
}