.nav {
    font-family: inherit;
    font-size: 1.5rem; /* 24px */

    &__list {
        display: flex;
        align-items: center;
        gap: 55px;

        &-link {
            &:active,
            &:hover {
                text-decoration: underline; 
            }
        }
    }
}