.nav {
    font-family: inherit;
    font-size: 1.5rem; /* 24px */
    margin-left: auto;
    margin-right: 1.25rem;

    &__list {
        display: flex;
        align-items: center;
        gap: 55px;

        &-link {
            &:active {
                text-decoration: underline; 
            }

            @include hovered {
                text-decoration: none;
            }
        }
    }
}