.form {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: $form-gap;

    &__group {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        gap: $form-group-gap;

        &_horizontal {
            flex-direction: row;
        }

        &_center {
            justify-content: center;
        }
    }

    &__label {
        font-size: $label-fs;
    }

    &__input,
    &__textarea {
        padding: $input-padding;
        border: $input-border-line;
        border-radius: $input-border-radius;
        font-size: $site-fs;
    }

    &__input,
    &__textarea {
        width: 100%;
        padding-right: 2.5rem;
        transition: all $animation-time;
        
        &-group {
            position: relative;
            display: flex;
            flex-wrap: nowrap;
            width: 100%;

            &:focus-within {
                svg {
                    fill: $site-main-color;
                }
            }
        }

        &-icon {
            position: absolute;
            top: 50%;
            right: 0.5rem;
            transition: fill $animation-time, transform $animation-time;
            transform: translateY(-50%);
            fill: $form-icon-fill;
        }


        @include isFocus {
            border-radius: $input-border-radius;
            outline: 2px solid rgba($site-main-color, 0.6);
            outline-offset: 2px;
            filter: drop-shadow(2px 0px 4px rgba($site-main-color, 0.5));
        };

        @include isValidInput {
            border-color: $input-border-succes-color;

            & + svg {
                fill: $input-border-succes-color;
            }
        };

        @include isInvalidInput {
            border-color: $input-border-error-color;

            & + svg {
                fill: $input-border-error-color;
            }
        };

        @include isActive {
            outline: none;
            background-color: rgba($site-main-color, 0.2);
        };
        
        @include placeholderStyles;
    }

    &__textarea {
        padding: $textarea-padding;
        resize: none;
        min-height: $textarea-height;

        &-icon {
            top: 1rem;
        }
    }

    &__button {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 10px;
    }
}