.modal {

    &__inner {
        // position: relative;
        flex-direction: column;
        border: none;
        padding: $modal-padding;
        max-width: $modal-width;
        min-height: $modal-height;
        height: $modal-height;
        justify-content: space-between;
        border-radius: $modal-border-radius;

        &::after {
            content: '';
            position: absolute;
            width: 100%;
            height: 100%;
            inset: 0;
            border: 2px solid #fff;
            border-radius: $modal-border-radius;
            transform: rotate(2deg);
            z-index: -1;
        }
    }

    &__title {
        font-size: $modal-title-fs;
    }

    &__desc {
        font-size: $modal-desc-fs;
        font-weight: 400;
    }

    &:has(.modal__inner[open]) {
        position: absolute;
        inset: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: rgba(0, 0, 0, 0.5);
        z-index: 1;

        .modal__inner {
            display: flex;
        }
    }

    &:not(:has(.modal__inner[open])) {
        z-index: 0;
    }
}